<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Microgrid Energy Management System{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% block custom_css %}{% endblock %}
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block custom_js %}{% endblock %}
</head>
<body>
    <!-- 页头导航区 -->
    <header class="navbar navbar-inverse" style="margin-bottom: 0;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: whitesmoke" href="#">Microgrid Energy Management System</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if request.user.is_authenticated %}<!-- 判断用户处于登录状态 -->
                        <a href="#">Hello! &nbsp; {{ request.user }}</a>
                    {% endif %}
                </li>
                <li>
                    {% if request.user.is_authenticated %}<!-- 判断用户处于登录状态 -->
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Visitors please login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </header>
    {% block nav2 %}
        <!-- 导航二级 -->
        <nav class="nav" style="margin-bottom: 30px">
            <div class="container" style="box-shadow: 0px 0px 10px #6bef15;">
            <div class="col-sm-2"></div>
            <ul class="nav nav-pills col-sm-8" style="display: flex; justify-content: space-around;">
                <li {% if nav == 1 %}class="active"{% endif %}>
                    <a href="{% url 'overview' %}">Power Station Overview</a>
                </li>
                <li {% if nav == 2 %}class="active"{% endif %}>
                    <a href="{% url 'device' %}">Devices Management</a>
                </li>
{#                <li {% if nav == 3 %}class="active"{% endif %}>#}
{#                    <a href="#">Alarm Management</a>#}
{#                </li>#}
                <li {% if nav == 3 %}class="active"{% endif %}>
                    <a href="{% url 'pso' %}">Optimize Management</a>
                </li>
            </ul>
            <ul class="nav nav-pills navbar-right col-sm-2">
                <li>
                    <a href="/xadmin/">Back-End Management</a>
                </li>
            </ul>
            </div>
        </nav>
    {% endblock %}
    <!-- 内容区 -->
    {% block content %}
    {% endblock %}
<footer style="margin-top: 40px;background-color: black">
    <div class="container">
        <h5 align="center" style="color: whitesmoke"><span class="glyphicon glyphicon-certificate"></span>&nbsp;Microgrid Energy Management System</h5>
{#        <h6 align="center" style="color: whitesmoke"><a href="https://www.jdcloud.com/index" style="color: whitesmoke">JD Cloud</a>Provide cloud computing services</h6>#}
    </div>
</footer>
</body>
</html>