{% extends 'base.html' %}
{% load static %}
{% block title %}Battery Information{% endblock %}
{% block custom_css %}
<link href="{% static 'css/mic.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block custom_js %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!-- 属性信息 -->
        <div class="dev_info-box1">
            <div style="text-align: center;color: white;background-color: lightskyblue;height: 40px;margin-bottom: 10px;"><h4 style="line-height: 40px;margin-top: 0px">Attribute Information</h4></div>
            <form class="form-horizontal" action="{% url 'bat_set' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-sm-6">Number:</label>
                    <label class="control-label col-sm-2">{{ battaryproperty.battary_num }}</label>
                    <input type="hidden" value="{{ battaryproperty.battary_num }}" name="num">
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Rated Capacity:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" value="{{ battaryproperty.rated_capacity }}" name="rated_capacity">
                    </div>
                </div>
                <div>
                    <div class="col-sm-9"></div>
                    <button type="submit" class="btn btn-success" onclick="return confirm('Comfirm configuration?')">Configuration</button>
                </div>
            </form>
        </div>
        <!-- 状态信息 -->
        <div class="dev_info-box2">
            <div style="text-align: center;color: white;background-color: lightskyblue;height: 40px;margin-bottom: 10px;"><h4 style="line-height: 40px;margin-top: 0px">Status Information</h4></div>
            <div style="background-color: whitesmoke">
                <div class="col-sm-6">
                    <label class="control-label col-sm-6">Battery SOC：</label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}