{% extends 'base.html' %}
{% load static %}
{% block title %}Power Station Overview{% endblock %}
{% block custom_css %}
<link href="{% static 'css/mic.css' %}" rel="stylesheet">
{% endblock %}
{% block custom_js %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="over-left">
            <div class="over-box1" style="max-width: 100%; overflow: hidden;">
                <div style="text-align: center;background-color: lawngreen;color: whitesmoke;padding-bottom: 5px">
                    <span style="font-size: 20px;">Weather Overview</span>
                </div>
                <!-- 天气js插件https://www.seniverse.com/widget/more -->
{#                <div style="text-align: center;background-color: lightskyblue;">#}
{#                    <iframe src="https://api.seniverse.com/v3/weather/now.json?key=S6ifOiz-euTR4V6qt&location=Singapore&language=en&unit=c" width="100%" height="100%" allowTransparency="true"></iframe>#}
{#                </div>#}
                <div id="tp-weather-widget"></div>
                <script>
                    (function(a,h,g,f,e,d,c,b){b=function(){d=h.createElement(g);c=h.getElementsByTagName(g)[0];d.src=e;d.charset="utf-8";d.async=1;c.parentNode.insertBefore(d,c)};a["SeniverseWeatherWidgetObject"]=f;a[f]||(a[f]=function(){(a[f].q=a[f].q||[]).push(arguments)});a[f].l=+new Date();if(a.attachEvent){a.attachEvent("onload",b)}else{a.addEventListener("load",b,false)}}(window,document,"script","SeniverseWeatherWidget","//cdn.sencdn.com/widget2/static/js/bundle.js?t="+parseInt((new Date().getTime() / 100000000).toString(),10)));
                    window.SeniverseWeatherWidget('show', {
                        flavor: "slim",
                        location: "WX4FBXXFKE4F",
                        geolocation: true,
                        language: "en",
                        unit: "c",
                        theme: "light",
                        token: "5a93c6cb-9883-4647-8ba1-113d2caf037b",
                        hover: "always",
                        container: "tp-weather-widget"
                    });
                </script>
                </div>
            </div>
        <div class="over-middle">
            <div class="over-box2">
                <div class="one">
                    <span style="font-size: 20px;">Energy Output Overview</span>
                </div>
                <div>
                    <div class="two"><img class="picture" src="{% static 'img/output.jpg' %}">&nbsp;<span style="font-size: 18px">Total Energy Output</span></div>
                    <div class="two"><img class="picture" src="{% static 'img/money.png' %}">&nbsp;<span  style="font-size: 18px">Total Energy Income</span></div>
                </div>
                <div>
                    <div class="three" style="border-right: 1px lawngreen solid;">
                        <span>Today</span>
                        <div>111kwh</div>
                    </div>
                    <div class="three" style="border-right: 1px lawngreen solid;">
                        <span>Accumulation</span>
                        <div>23000kwh</div>
                    </div>
                    <div class="three" style="border-right: 1px lawngreen solid;">
                        <span>Today</span>
                        <div>$252</div>
                    </div>
                    <div class="three">
                        <span>Accumulation</span>
                        <div>$145840</div>
                    </div>
                </div>
            </div>
            <div class="over-box3">
            <div style="text-align: center;color: white;background-color: lightskyblue;height: 40px;margin-bottom: 10px;">
                <h4 style="line-height: 40px;margin-top: 0" >PSO Optimization Display</h4>
{#                <div id="pso" style="width: auto; height: 300px;border: grey 1px solid"></div>#}
                <img src="/media/img/display.png" style="width: auto; height: 350px;">
            </div>
            </div>
        </div>
    </div>
{% endblock %}